.NB{
    display: flex;
  justify-content: center;
}
.logo{
    width: 36px;
}
.header .right-item{
    display: flex;
    justify-content: center;
}
.header .right-item ul{
    /* margin: 0; */
    padding-inline-start: 0;
}
.header .right-item li{
    float: left;
    margin-right: 20px;
}
.header{
    background-color:#3E4FD5

    ;
    width: 100%;
    padding-top: 10px;
}
.organname{
    font-family: "NotoSansCJKkr-Black";
    color: white;
    display: block;
    font-size: x-large;
}
.link-header{
    color:white; 
    text-decoration: none;
    transition: 0.5s ease;
    font-family: "NotoSansCJKkr-Bold";

  }
.link-header:hover{
      color:#7289DA; 
      text-decoration: none;
      transition: 0.5s ease;
  }